---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kevin Fisher | Full stack web developer" description="I am a guy who makes stuff that ends up on the internet">
	<main>
		<h1 class="text-4xl flex flex-col items-center">
			Kevin Fisher
			<span class="text-gradient text-2xl">Full stack web developer</span>
		</h1>
		<section>
			<p class="text-center">I am a guy who makes stuff that ends up on the internet</p>
		</section>
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>
